h1 {
  font-family: cursive;
  font-size: 50px;
  color: pink;
}

body {
  background-color: white;
  background-image: url("alien.jpg");
  background-repeat: no-repeat;
  background-position: 100% center;
  background-size: cover;
}


div {
  color: lighpink;
  align-content: center;
  size 20;
}

.white{
  color: white;
}

img{
  margin: auto;
    padding-left: 35%;
}
#aboutme {
}
